@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;/* centralização vertical */
    background-color: #5516a2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-variant: small-caps;
}

div#manutencao {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90vw;
    height: 225px;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #00000079;

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
}

div#manutencao h1 {
    padding-top: 10px;
    margin: 50px 0px;
}

div#manutencao a { 
    padding: 15px;
    text-align: center;
    text-decoration: none;
    background-color: #0c0039;
    color: white;
    border-radius: 5px;

    transition-duration: 0.3s;
    transition-timing-function: ease;
}

div#manutencao a:visited {
    color: white;
}

div#manutencao a:active {
    color: #0c0039;
    text-decoration: underline;
}

/* animação */
@keyframes fundo {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 25%;
    }
}

@media screen and (max-width: 390px) {
    div#manutencao {
        font-size: 4.2vw;
    }
}

@media screen and (min-width:768px) {
    body {
        background-attachment: fixed;
        background-size: 300% 300%;/* aumenta o fundo */
        background-image: linear-gradient(35deg, black, blue, purple, red);
        animation: fundo 8s ease infinite;/* animação do fundo */
    }

    div#manutencao {
        width: 500px;
    }

    div#manutencao a:hover {
        background-color: #3700ff;
        border-radius: 10px;
    }
}