@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {/* TODO O SITE TERA 100% DE VISIBILIDADE */
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    background-attachment: fixed;
    background-size: 300% 300%;/* AUMENTA O FUNDO */
    background-image: linear-gradient(35deg, black, blue, purple, red);
    animation: fundo 10s ease-in-out infinite;/* ANIMAÇÃO DO FUNDO */
    position: relative;/* CENTRALIÇÃO VERTICAL */
}

a {
    padding: 10px 150px 10px 150px;/* MAIOR AREA DE CLIQUE */
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:active {
    color: #b3cb00;
    text-decoration: underline;
}

button {
    margin: auto;/* CENTRALIZA NA HORIZONTAL */
    margin-top: 70vh;/* DESCE O BOTÃO */
    height: 40px;
    min-width: 300px;
    border: none;
    font-weight: bolder;
    text-transform: uppercase;
    opacity: 0;
    transition-duration: 0.5s;/* TRANSCIÇÃO HOVER */
    animation: botao 10s ease-out infinite;
}

button:hover {
    background-color: #16c4e3;
    cursor: pointer;/* DEIXA CLARO QUE É CLICAVEL */
}

div#b {
    margin: 0px;
    background-color: transparent;
}

div#a {
    position: absolute;/* CENTRALIÇÃO VERTICAL */
    margin-bottom: 100px;
    max-height: 300px;
    width: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
}

h1 {
    padding-top: 10px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ANIMAÇÃO */
@keyframes fundo {
    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 25%;
    }
}

@keyframes botao {

    0% {/* COMEÇO */
        opacity: 0.7;
        border-radius: 20px;
    }

    50% {/* MEIO */
        opacity: 1;
        border-radius: 5px;
    }

    100% {/* FIM */
        opacity: 0.7;
        border-radius: 20px;
    }
}

/* TELAS GRANDES AJUSTE DE LETRAS */
@media (max-width: 1200px) and (min-width:700px) {
    body {
        font-size: 2.5vw;
    }

    div#a {
        width: 80%;
    }
}

/* TELAS MEDIAS AJUSTE DE LETRAS */
@media (max-width:700px) {
    body {
        font-size: 3vw;
    }

    div {
        width: 85%;
    }
}

/* TELAS PEQUENAS AJUSTE DE LETRAS */
@media (max-width:600px) {
    body {
        font-size: 3.5vw;
    }

    div#a {/* CENTRALIÇÃO PARA MELHOR LEITURA */
        min-width: 100%;
        border-radius: 0px;
    }
}

@media (min-width:700px) and (orientation: landscape) {
    button {
        margin-top: 80vh;
    }
}
