@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'forced';
    src: url(../fontes/FORCED\ SQUARE.ttf) format(truetype);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    /* FONTES */
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-quadrada: 'forced', 'Courier New', Courier, monospace;
    --fonte-android: 'android', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive, sans-serif;
    --fonte-titulo: 'Bebas Neue', Verdana, Geneva, Tahoma, sans-serif;

    /* CORES */
    --cor0: #A4A5A6;
    --cor1: #063d1e;
    --cor2: #458C57;
    --cor3: #63BF7A;
    --cor4: #88F2A2;
    --cor5: #404040;
    --cor6: #EBE5C5;
    --cor7: #22ff00;
    --cor8: #243721;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--cor6);
    font-family: var(--fonte-padrao);
}

header {
    min-width: 300px; 
    max-width: 100vw;
    min-height: 150px;
    color: white;
    background-color: var(--cor1);
}

header > h1 {
    padding: 25px 20px 0px 20px;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    font-weight: normaL;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header p {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    font-family: var(--fonte-quadrada);
    text-align: center;
    font-size: 0.8em;
    text-indent: 0px;
    line-height: 1.3em;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

nav {
    padding: 10px;
    background-color: var(--cor1);
    box-shadow: 0px 2px 2px #00000028;
    transition-duration: 0.5s;
}

span#burger {
    display: block;
    width: 50px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

span#burger:hover {
    color: var(--cor7);
    cursor: pointer;
}

menu {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a { /* layout do menu */
    display: block;
    width: 150px;
    padding: 10px;
    margin-bottom: 5px;
    font-family: var(--fonte-quadrada);
    background-color: var(--cor3);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600; 
}

menu > ul > li > a:hover {
    background-color: black;
    color: var(--cor7);
    border-radius: 5px;
}

main {
    min-width: 300px;
    max-width: 100vw;
    margin: auto;
    padding: 20px;
    font-family: var(--fonte-padrao);
    background-color: white;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    color: var(--cor1);
    text-align: center;
}

main h2 {
    padding: 4px;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1em;
    background-color: var(--cor7);
    color: black;
    text-indent: 8px;
    text-align: center;
    border-radius: 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 0.8em;
    line-height: 2em;
}

main strong {
    font-size: 1.1em;
    color: var(--cor1);
    text-shadow: 5px 0px 13px #0000005f;
}
               
main a { 
    padding: 2px;
    font-family: var(--fonte-quadrada);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--cor1);
    background-color: var(--cor4);
    transition: 0.3s;
}

main a:hover {
    color: #00ff3c;
    background-color: black;
    text-decoration: underline;
    border-radius: 4px;
}

main a:active {
    color: black;
    background-color: #00ff3c;
}

main a::after {
    content: '\00A0\1F517';/* SIMBOLO DE LINK / 00A0 É UM ESPAÇO */
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main > section > article div.video {
    background-color: black;
    border: 6px solid var(--cor7);
    border-radius: 10px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;/* DIVIDIR A ALTURA PELA LARGURA E MULTIPLICAR POR 100 */
    position: relative;
}

main > section > article div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main > section > article p#despedida {
    font-size: 0.8em;
    text-align: center;
    text-indent: 0px;
}

aside {
    background-color: var(--cor4);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.354);
}

aside p {
    text-align: justify;
}

aside a {
    padding: 2px;
    font-family: var(--fonte-quadrada);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: var(--cor1);
    transition-duration: 0.3s;
}

aside a::after{
    content: '\00A0\1F517';
}

aside a:hover {
    text-decoration: underline;
    color: var(--cor7);
    background-color: black;
    border-radius: 5px;
}

aside > h3 {
    padding: 10px;
    margin: -10px -10px 0px -10px;/* NEGATIVA ELE CRESCE PARA TRÁS */
    font-size: 1em;
    background-color: var(--cor1);
    color: white;
    border-radius: 10px 10px 0px 0px;
}

aside strong {
    color: black;
}

aside ul {
    font-family: var(--fonte-quadrada);
    list-style-type: '\2714';/* SEM A BARRA INVERTIDA NÃO FUNCIONA O CODIGO DA SETINHA(2714) */
    list-style-position: inside;/* BOLINHA DENTRO DO ASIDE */
    columns: 1;/* DIVIDE EM DUAS COLUNAS */
}

aside li {
    font-size: 0.9em;
    letter-spacing: 1px;
    transition-duration: 0.01s;
}

aside ul > li:hover {
    color: var(--cor7);
    background-color: black;
}

footer {
    position: relative;
    min-width: 300px; 
    max-width: 100vw;
    height: 200px;
    margin: auto;
    font-family: var(--fonte-padrao);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer div#centraliza-p {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer p {
    margin-top: 20px;
    font-size: 1.1em;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    transition-duration: 0.01s;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor7);
}

footer a:active {
    color: var(--cor3);
}