@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'forced';
    src: url(../fontes/FORCED\ SQUARE.ttf) format(truetype);
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    /* FONTES */
    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-quadrada: 'forced', 'Courier New', Courier, monospace;
    --fonte-android: 'android', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive, sans-serif;
    --fonte-titulo: 'Bebas Neue', Verdana, Geneva, Tahoma, sans-serif;

    /* CORES */
    --cor0: #A4A5A6;
    --cor1: #063d1e;
    --cor2: #458C57;
    --cor3: #63BF7A;
    --cor4: #88F2A2;
    --cor5: #404040;
    --cor6: #EBE5C5;
    --cor7: #22ff00;
    --cor8: #243721;

}

* {/* FAZ O ALGUMAS FUNÇÕES OCUPAREM TODO O ESPAÇO DO BODY */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition-duration: 0.5s; 
}

body {
    background-color: var(--cor6);
    font-family: var(--fonte-padrao);
}

header {
    width: 100%; /* REGRA CSS PARA OCUPAR TODO O BODY / *{} */
    min-height: 150px;
    color: white;
    background-color: var(--cor1);
}

header > h1 {
    padding: 25px 20px 0px 20px;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: normaL;
    color: white;
    text-align: center;
    text-transform: uppercase; /*COLOCA O TEXTO EM MAIUSCULO*/
    letter-spacing: 2px; /*ESPAÇAMENTO ENTRE AS LETRAS*/
}

header p#titulo {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    font-family: var(--fonte-quadrada);
    text-align: center;
    font-size: 1.3em;
    text-indent: 0px;
    line-height: 1.3em;/* ALTURA DAS LINHAS PARA TODOS OS ELEMENTOS P */
    word-spacing: 1px;/* ESPAÇO ENTRE AS PALAVRAS */
    letter-spacing: 0.5px;/* ESPAÇO ENTRE AS LETRAS */ 
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 15px 16px 15px;
    background-color: var(--cor4);
    box-shadow: 0px 2px 2px #00000028;
    transition-duration: 0.5s;
}

#div1 {
    margin-right: 5px;
}
/* QUANDO O MOUSE PARA EM CIMA DO NAV, TODOS OS LINKS RECEBEM O ESTILO ABAIXO */
nav:hover {
    background-color: var(--cor3);
    a { 
        border-radius: 8px;
        color: var(--cor7);
        background-color: black;
    }
}

nav a {
    padding: 10px;
    text-decoration: none;
    font-family: var(--fonte-quadrada);
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    border-radius: 6px;
    background-color: var(--cor3);
    transition-duration: 0.3s;
}

nav a:hover {
    border-radius: 15px;
    background-color: black;
    color: #22ff00;
}

nav a:active {
    background-color: #22ff00;
    color: black;
}

nav a:visited {
    background-color: var(--cor8);
    color: white;
}
               
a.externo { 
    padding: 2px;
    font-family: var(--fonte-quadrada);
    text-decoration: none;/* PERDE ALGUNS ELEMENTOS DOS LINKS */
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--cor1);
    background-color: var(--cor4);
    transition: 0.2s;
}

a.externo:hover {/* MOUSE EM CIMA */
    color: #00ff3c;
    background-color: black;
    text-decoration: underline;
    border-radius: 4px;
}

a.externo:active {/* QUANDO CLICADO */
    color: black;
    background-color: #00ff3c;
}

a.externo:visited {/* QUANDO JÁ FOI VISITADO */
    background-color: var(--cor8);
    color: white;
}

a.externo::after {/* PSEUDO-CLASSE */
    content: '\00A0\1F517';/* SIMBOLO DE LINK / 00A0 É UM ESPAÇO */
}

strong {
    font-size: 1.1em;
    color: var(--cor1);
    text-shadow: 5px 0px 13px #0000005f;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;

    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: var(--fonte-padrao);
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 10px #00000053;
    border-radius: 10px;
}

main h1 {
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    color: var(--cor1);
}

main h2 {
    padding: 4px;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.3em;
    color: black;
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor7), transparent);
    border-radius: 5px 0px 0px 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: black;
    border: 6px solid var(--cor7);
    border-radius: 10px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;/* DIVIDIR A ALTURA PELA LARGURA E MULTIPLICAR POR 100 */
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor4);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.354);
}

aside a {
    padding: 2px;
    font-family: var(--fonte-quadrada);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: var(--cor1);
    transition-duration: 0.3s;
}

aside a::after{
    content: '\00A0\1F517';
}

aside a:hover {
    text-decoration: underline;
    color: var(--cor7);
    background-color: black;
    border-radius: 5px;
}

aside a:visited {
    background-color: var(--cor8);
    color: white;
}

aside > h3 {
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;/* NEGATIVA ELE CRESCE PARA TRÁS */
    border-radius: 10px 10px 0px 0px;
}

aside strong {
    color: black;
}

aside > ul {
    font-family: var(--fonte-quadrada);
    list-style-type: '\2714';/* SEM A BARRA INVERTIDA NÃO FUNCIONA O CODIGO DA SETINHA(2714) */
    list-style-position: inside;/* BOLINHA DENTRO DO ASIDE */
    columns: 2;/* DIVIDE EM DUAS COLUNAS */
}

aside li {
    font-size: 1.1em;
    letter-spacing: 1px;
    transition-duration: 0.01s;
}

ul > li:hover {
    color: var(--cor7);
    background-color: black;
}

p#despedida {
    text-align: center;
    text-indent: 0px;
}

footer {
    position: relative;
    min-width: 300px;
    max-width: 100vw;
    height: 200px;
    font-family: var(--fonte-padrao);
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer div#centraliza-p {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer p {
    margin-top: 20px;
    font-size: 1.1em;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    transition-duration: 0.01s;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor7);
}

footer a:active {
    color: var(--cor3);
}

/* RETIRANDO ESTILO QUE SO FUNCIONA EM TELAS MAIORES */
@media (max-width: 1000px) {
    main {
        border-radius: 0px;
    }
}

/* ALINHAMENTO DO CONTEUDO EXTRA */
@media (max-width: 600px) and (min-width: 50px) {
    aside > ul {
        columns: 1;
    }
}

/* LEITURA TELAS MEDIAS */
@media (max-width: 550px) and (min-width: 50px) {
    main h2 {
        background-color: var(--cor7);
        text-align: center;
        border-radius: 5px;
    }
}

/* CENTRALIZANDO PARA MELHOR LEITURA EM TELAS PEQUENAS */
@media (max-width: 412px) and (min-width: 50px) {
    header {
        box-shadow: 0px 5px 5px #00000028;
    }

    header > p#titulo {
        font-size: 1.2em;
    }

    nav {
        max-width: 250px;
        margin: auto;
        box-shadow: none;
        border-radius: 3px;
        transition-duration: 0.5s;
    }

    nav:hover {
        border-radius: 12px;
    }

    #div1 {
        margin: auto;
    }

    #div2 {
        margin-top: 30px;
    }

    main h1 {
        text-align: center;
        font-size: 1.8em;
    }

    main h2 {
        font-size: 1.1em;
    }

    main p {
        font-size: 0.9em;
    }

}
